@model IEnumerable<gp0.ViewModels.DocumentView>
@{
    Layout = "HomeLayout";
}

<!DOCTYPE html>

<table class="table">
    <thead class="thead-light">
        <tr>
            
            <th scope="col">Получатель</th>
            <th scope="col">Дата</th>
            <th scope="col">Текст</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doc in Model)
        {
            <tr>
                
                <td><a style="color:darkblue" asp-action="UserInfo" asp-controller="Home" asp-route-email="@doc.receiver">@doc.receiver</a></td>
                <td>@doc.date</td>
                <td><a style="color:darkblue" asp-action="OutDocument" asp-controller="Home" asp-route-id="@doc.id">@doc.text</a></td>
            </tr>
        }
    </tbody>
</table>

